name: Deploy on Webhook

on:
  workflow_run:
    workflows: ["Pytest"]
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-24.04

    steps:
      # 1. Disparar el despliegue en Render
      - name: Trigger Deployment Webhook
        id: deploy_trigger # Le ponemos ID para saber si fall贸
        env:
          WEBHOOK_DOMAIN: ${{ secrets.WEBHOOK_DOMAIN }}
          WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
        run: |
          curl -X POST \
            https://${{ secrets.WEBHOOK_DOMAIN }}/webhook/deploy \
            -H "Authorization: Bearer ${{ secrets.WEBHOOK_TOKEN }}"

      # 2. Notificar XITO a Discord
      - name: Discord Notification - Success
        if: success() # Solo si el paso anterior (curl) funcion贸
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        with:
          args: ' **UVLHub Desplegado!** La nueva versi贸n en `main` se ha enviado a Render correctamente.'

      # 3. Notificar FALLO a Discord (Opcional pero recomendado)
      - name: Discord Notification - Failure
        if: failure() # Solo si el curl fall贸
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        with:
          args: ' **Error en Despliegue:** No se pudo contactar con Render para actualizar UVLHub.'